@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sniglet&family=Source+Serif+Pro&display=swap');

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #496E53;

}

.header {
    background: #D1CB9F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    font-family: Sniglet, Source Serif Pro, sans-serif;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #DD8950;
    color: #542E71;
}

.logo {
    width: 100px;
}

div.scroll-bag {
    background-color: #6B97B3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 50px;
    max-width: 100%;
}
  
  div.scroll-bag img {
    padding: 10px;
  }

  div.scroll-bag h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Shadows Into Light";
  }

  div.scroll-necklace {
    background-color: #496E53;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
  }
  
  div.scroll-necklace img {
    padding: 10px;
  }

  div.scroll-necklace h2 {
    text-align: center;
    color: #D1CB9F;
    font-family: "Shadows Into Light";
  }

  div.scroll-panels {
    background-color: #6B97B3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
  }
  
  div.scroll-panels img {
    padding: 10px;
  }

  div.scroll-panels h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Shadows Into Light";
  }

  div.scroll-lamps {
    background-color: #496E53;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
  }
  
  div.scroll-lamps img {
    padding: 10px;
  }

  div.scroll-lamps h2 {
    text-align: center;
    color: #D1CB9F;
    font-family: "Shadows Into Light";
  }

  div.scroll-accessories {
    background-color: #6B97B3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 20px;
    max-width: 100%;
  }
  
  div.scroll-acessories img {
    padding: 10px;
  }

  div.scroll-accessories h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Shadows Into Light";
  }

/* Styling the first parallax's height, width and background color */
.parallax-1 {
          width: 100%;
          height: 600px;
          background: url('images/cords1.jpeg');
          background-size: 100% 100%;
          background-attachment: fixed;
      }

      /* Styling the second parallax's height, width and background color */
      .parallax-2 {
          width: 100%;
          height: 600px;
          background: url('images/colored_cords.jpeg');
          background-size: 100% 100%;
          background-attachment: fixed;
      } 

      /* Styling the second parallax's height, width and background color */
      .parallax-3 {
          width: 100%;
          height: 600px;
          background: url('images/knots.jpeg');
          background-size: 100% 100%;
          background-attachment: fixed;
      }

              /* Styling the second parallax's height, width and background color */
      .parallax-4 {
          width: 100%;
          height: 600px;
          background: url('images/dna_cord.jpeg');
          background-size: 100% 100%;
          background-attachment: fixed;
      }

      /* Styling the content or paragraph */
      .para-1 h2 {
          padding: 10px;
          background-color: #6B97B3;
          color: white;
          font-size: 3rem;
          font-family: "Shadows Into Light";
          text-align: center;
      }

      .para-1 p{
          padding: 50px;
          background-color: #6B97B3;
          color: white;
          font-size: 1.5rem;
          font-family: Sniglet, Source Serif Pro, sans-serif;
          text-align: center;
      }

      /* Styling the content or paragraph */
      .para-2 h2 {
          padding: 10px;
          background-color: #6B97B3;
          color: white;
          font-size: 3rem;
          font-family: "Shadows Into Light";
          text-align: center;
      }

      .para-2 p{
          padding: 50px;
          background-color: #6B97B3;
          color: white;
          font-size: 1.5rem;
          font-family: Sniglet, Source Serif Pro, sans-serif;
          text-align: center;
      }

      /* Styling the content or paragraph */
      .para-3 h2 {
          padding: 10px;
          background-color: #6B97B3;
          color: white;
          font-size: 3rem;
          font-family: "Shadows Into Light";
          text-align: center;
      }

      .para-3 p{
          padding: 50px;
          background-color: #6B97B3;
          color: white;
          font-size: 1.5rem;
          font-family: Sniglet, Source Serif Pro, sans-serif;
          text-align: center;
      }

      /* Styling the content or paragraph */
      .para-4 h2 {
          padding: 10px;
          background-color: #6B97B3;
          color: white;
          font-size: 3rem;
          font-family: "Shadows Into Light";
          text-align: center;
      }

      .para-4 p{
          padding: 50px;
          background-color: #6B97B3;
          color: white;
          font-size: 1.5rem;
          font-family: Sniglet, Source Serif Pro, sans-serif;
          text-align: center;
      }

  footer {
    background-color: #D1CB9F;
    color: #496E53;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #496E53;
    text-decoration: none;
}

footer a:hover {
    color: #542E71;
    font-weight: bolder;
}

footer p{
    font-size: 1.2em;
    font-family: Sniglet, Source Serif Pro, sans-serif;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}