@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Sniglet&family=Source+Serif+Pro&display=swap');

body, ul, li, p {
    margin: 0px;
    padding: 0pt;
    list-style: none;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #496E53;

}

.header {
    background: #D1CB9F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    font-family: Sniglet, Source Serif Pro, sans-serif;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu a:hover {
    background-color: #DD8950;
    color: #542E71;
}

.logo {
    width: 100px;
}